/* CSS RESET */
*{
    margin: 0;
    padding: 0;
   
   
}
html{
scroll-behavior: smooth;
}
/* CSS VARIABLES */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: 0.7;
}
#navbar{
    font-family:cursive;
    display: flex;
    align-items: center;
    position:sticky;
    top: 0px;
}
/* NAVIGATION BAR : Logo and IMAGE */
#logo{
margin:10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 100px;
}
/* LIST STYLING */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 3px 22px ;
    border-radius: 20px;
    color:white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
#home::before{
    content: "";
    background:url(img/pexels-oleg-magni-890515.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index:-1;
    opacity: 0.89;
   
}
#home h1{
    text-align: center;
    padding-bottom: 40px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px red;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px red;
}
/* SERVICES CENTER */
#services{
    margin: 34px;
    display: flex;
  
}

#service-container{
    background: url(img/pexels-rachel-claire-4846300.jpg) ;

}
#service-container h1{
    font-family:'Times New Roman', Times, serif;
    
}
#services .box {
/* border: 2px solid red; */
padding: 14px;
margin: 2px 16px;
border-radius: 20px;
background-color: honeydew;
/* margin-bottom: 20px; */
}
#services .box img{
 height: 250px;
 width: 250px;
 margin: auto;
 display: block;
 border-radius: 10px;
}

#services .box h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/* DELIVERY SECTION */
#delivery {
 
height: 300px;
width: 100%;
background: url(img/pexels-norma-mortenson-4393667.jpg) no-repeat center center/cover;
color: darkblue;
text-shadow: 2px 2px 1px lightblue;
align-items: center;
justify-content: center;
font-family:'Times New Roman', Times, serif;
}
#delivery h1{
    font-size: 2.5rem;
    padding-bottom: 30px;
}
#delivery p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
#delivery h4{
    color :red;
    font-size: 2rem ;
    padding-top: 30px;
}


/* CLIENT SECTION */
#client-section{
/* height: 344px; */
position: relative;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.client-item{
    padding: 34px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(img/pexels-daria-shevtsova-1095550.jpg)no-repeat center center/cover;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.4;
}
#clients img{
 
    height: 124px;
    border-radius: 20px;
}
/* CONTACT SECTION */
#contact{
    position: relative;
  
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(img/pexels-negative-space-33999.jpg) no-repeat center center/cover;
}
#contact-box{
display: flex;
justify-content: center;
align-items: center;
padding-bottom:34px ;
}
#contact form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 10px;
font-size: 1.1rem;
}
footer{
    background-color:black ;
    color: white;
    padding:15px;
}
/* UTILITY CLASSES */
.h-primary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
    /* padding: 12px; */

}
.h-secondary{
    font-size: 2.3rem;
}
.btn{
    padding: 6px 20px;
    /* border: 2px solid ; */
    background-color:rgb(223, 53, 53);
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    margin: 70px;
    cursor: pointer;
    
}
.center{
    text-align: center;
}
